<!DOCTYPE html>
<html>
<head>
<title>CINEMA</title>
</head>
<body>

<h1>Listagem</h1>

<table border="1">
    <tr>
        <td> Filme</td>
        <td> Diretor</td>
        <td> Lançamento</td>
    </tr>
    {% for filme in filme_chave %}
    <tr>
        <td> {{ filme.nomeBR }}</td>
        <td> {{ filme.diretor }}</td>

    {% if filme.anoLancamento %}
            <td> atual </td>
        {% else %}
            <td> antigo </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

</body>
</html>
